.Hero{
    display: flex;
 
    padding-left: 12%;
    padding-right: 10%;
    flex-direction: column;
   
    align-items: center;
}


.Hero .info {
    color: white;
    padding-top: 3%;
    font-size: 50px;
}
.Hero .info .name{
    
    color : #ffb742;
   
    
     
}
.Hero  .bitmoji{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
   
    
}
.Hero  .small-description{
    
   
    margin-top: 3%;

}
.Hero .small-description .description1{
  display: flex;
  justify-content: center;
  color: white;
  
    

}
.Hero  .small-description .description2{
    display: flex;
    justify-content: center;
    color: white;
      
  
  }